.product {
  &-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }

  &-item {
    display: flex;
    flex-direction: column;
  }

  &-img {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    img {
      transition: all 0.3s ease-in-out;
    }

    &:hover img {
      transform: scale(1.05);
      cursor: pointer;
    }

    &:hover .product-sett {
      display: block;
    }
  }

  &-sett {
    display: none;
    @include absoluteCenter("both");

    > div {
      display: flex;
      gap: 0 15px;
    }
  }

  &-add,
  &-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.2s ease-in-out;

    ion-icon {
      font-size: 2.2rem;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
    }
  }

  &-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-weight: 500;
    margin: 10px 0 5px 0;
    &:hover {
      cursor: pointer;
    }
  }

  &-star {
    color: $orange-color;
  }

  &-price {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &-all {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    .btn {
      display: inline-block;
      background-color: $primary-color;
    }
  }
}
